:root {
  --icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='24' width='24' stroke='gray' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='24' width='24' stroke='gray' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");
}

.markdown-body {
  @apply w-full;
}

.markdown-body .shiki {
  @apply w-full overflow-auto px-5 py-3 rounded-md m-0;
}

.markdown-body [class*="language-"] {
  @apply relative;
}

.markdown-body [class*="language-"]::before {
  content: attr(data-lang);
  @apply absolute right-2 top-2 text-gray-400;
}

.markdown-body [class*="language-"] .copy-code {
  @apply absolute right-4 top-2 text-gray-50 opacity-0;
  @apply transition-opacity cursor-pointer;
}

.markdown-body [class*="language-"]:hover .copy-code {
  @apply opacity-100;
}

.markdown-body [class*="language-"] .copy-code::before {
  content: var(--icon-copy);
}

.markdown-body [class*="language-"] .copy-code.copied::before {
  content: var(--icon-copied);
}

.markdown-body blockquote {
  @apply my-4 border-l-2 border-l-gray-400;
}

.markdown-body blockquote > p {
  @apply text-gray-600;
}

.markdown-body a {
  @apply font-bold text-blue-500 underline-dotted transition-colors;
}

.markdown-body a:hover {
  @apply text-blue-700;
}

.markdown-body ul,
.markdown-body ol {
  @apply pl-5 my-4 mx-0;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body li + li {
  margin-top: 8px;
}

.markdown-body li > ol,
.markdown-body li > ul {
  margin: 8px 0 0;
}

.markdown-body table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

.markdown-body tr {
  @apply border-t border-t-gray-400;
}

.markdown-body tr:nth-child(2n) {
  @apply bg-light-500;
}

.dark .markdown-body tr:nth-child(2n) {
  @apply bg-dark-300;
}

.markdown-body th,
.markdown-body td {
  padding: 8px 16px;
  @apply border-1 border-gray-400;
}

.dark .markdown-body th,
.dark .markdown-body td {
  @apply border-gray-700;
}

.markdown-body th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  @apply text-gray-600 bg-light-500;
}

.dark .markdown-body th {
  @apply text-gray-300 bg-dark-500;
}

.markdown-body td {
  font-size: 14px;
}
